<!DOCTYPE html>
<html lang="en-US">

<script src="js/angular.min.js"></script>
<script src="js/ngStorage.min.js"></script>
<script src="js/plotly.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/mb-frontend.css">

<head>
    <title>MacroBase Console</title>
</head>

<body>
<div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12" style="margin-top: 10px"><img src="macrobase.png" width=200/></div>

            <div class="col-md-12">
                <hr style="border-bottom: 10px solid black;"/>
            </div>
        </div>

        <div ng-app="loginApp" >

            <div ng-controller="errorController" class="row" ng-show="hasError()">
                <div class="col-md-12">
                    <div class="alert alert-danger" style="word-wrap: break-word;">
                        <h4><strong>An error occurred while processing your request:</strong></h4>
                        {{getError()}}
                        <br/>

                        <div style="margin-top: 1em">
                            <strong>Need help?</strong> Feel free to email <em>macrobase@cs.stanford.edu</em> (and
                            please include the above message)
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">

                    <div ng-controller="connectController">
                        <div class="panel panel-gray">
                            <div class="panel-heading">Database Configuration</div>
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td nowrap style="width: 100px;">UserName:</td>
                                        <td style="margin: 2px; width: 100%"><input ng-model="username"
                                                                                    style="width:100%">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap style="width: 100px;">Password:</td>
                                        <td style="margin: 2px; width:100%"><input ng-model="password"
                                                                                   style="width:100%">
                                        </td>
                                        <td>
                                            <button ng-click="login()">submit</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div  class="panel panel-gray" style="float:right;">

                            <div class="panel-body">

                                <div class="table-responsive">

                                    <table class="table">
                                        <tr>
                                            <th scope="col">XXX</th>
                                        </tr>
                                        <tr ng-repeat="x in columns">
                                            <td>{{x}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-gray">

                            <div class="panel-body">

                                <div class="table-responsive">

                                    <table class="table">
                                        <tr>
                                            <th scope="col">TABLES</th>
                                        </tr>
                                        <tr ng-repeat="x in tables">
                                            <td>{{x}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                
            </div>
        </div>
    </div>

</div>

<script src="loginController.js"></script>

</body>
</html>

