<div ng-controller="loginController">
    <div class="panel-heading login-panel-heading">
        Sign in
    </div>
        <div class="panel-body no-padding-top">
                    <div class="login-panel">
                        <input ng-model="username" placeholder="Username" style="width:100%">
                        <input ng-model="password" placeholder="Password" style="width:100%">
                        <button ng-click="login()" class="btn btn-light">Sign In</button>
                    </div>
        </div>
</div>