body{
  background-color: #c5f9f9;
}
.sidebar-menu {
    display: block;
    position: relative;
    width: 100%;
    background: #e4e4e4;
    height: 100vh;
  }
  .sidebar-menu .logo-env {
    padding: 30px 45px;
    border-bottom: 1px solid #313437;
  }
  .sidebar-menu .logo-env .logo {
    float: left;
  }
  .sidebar-menu .main-menu {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
  }
  .sidebar-menu .main-menu a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 13px 5px;
    border-bottom: 1px solid #a3a7ab;
  }
  .sidebar-menu .main-menu a > span {
    display: inline-block;
  }
  .sidebar-menu .main-menu li.active > a, .sidebar-menu .main-menu a:hover {
    color: #000000;
  }
  
  .no-padding-left{
      padding-left: 0;
  }
  .no-padding-right{
    padding-right: 0;
}
.login-panel{
  width: 30%;
  margin: auto;
  display: block;
  text-align: center;
}
.login-panel input {
  height: 40px;
  margin: 5px;
  padding-left: 15px;
  border: 1px solid #61dcdc;
}
.btn-light{
  background: #61dcdc;
  margin-top: 30px;
  padding: 10px 45px;
}
.login-panel-heading{
  text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 50px;
}
.no-padding-top{
  padding-top: 0 !important;
}