<div ng-controller="dashboardController">
    <div class="panel panel-gray">
        <div class="panel-heading"><a style="cursor: pointer; text-decoration: underline;" ng-click="getData()">{{tableName}}</a></div>
        <div class="panel-body">
            <table class="table" ng-if="schemaCols.length > 0">
                <tr>
                    <th scope="col">COLUMN-NAME</th>
                    <th scope="col">DATA-TYPE</th>
                </tr>
                <tr ng-repeat="data in schemaCols">
                    <td>{{data.name}}</td>
                    <td>{{data.type}}</td>
                </tr>
            </table>
        </div>
    </div>


</div>